body {
  margin: 0;
}
.card {
  width: 15em;
  height: 17rem;
  border-radius: 25px;
  background-color: rgb(246, 231, 205);
  margin-bottom: 2rem;
}
.card img {
  width: 15em;
  border-radius: 25px 25px 0 0;
}
h4 {
  font-size: 0.8rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  font-weight: 700;
}
p {
  margin: 0;
  font-size: 0.7rem;
}
.flex {
  display: flex;
}
.direction {
  justify-content: space-around;
}

.baseline {
  flex-direction: column;
  justify-content: center;
}
.align {
  text-align: center;
}
button {
  border-radius: 40px;
  border: none;
  padding: 0.3rem 1.7rem;
  font-size: 0.5rem;
  background-color: rgb(241, 202, 129);
  margin-top: 2rem;
  font-size: 0.8rem;
}
h4,
h2,
h1,
p,
button {
  color: rgb(82, 23, 23);
}

nav {
  background-color: rgb(246, 231, 205);
  align-items: center;
  padding: 1rem 0;
  justify-content: space-around;
}
nav img {
  width: 3rem;
}
.menu {
  width: 6rem;
  height: 2rem;
  background-color: rgb(241, 202, 129);
  border-radius: 40px;
}
.between {
  justify-content: space-between;
}
#logo {
  width: 8rem;
  height: 2rem;
  background-color: rgb(241, 202, 129);
  border-radius: 40px;
  padding: 1.5rem;
}
.flex p {
  font-weight: 700;
  font-size: 1rem;
}

#logo p {
  font-weight: 700;
  font-size: 1.3rem;
}
article #center div {
  background-image: url("./assets/imgs/honey.jpg");
  width: 95%;
  height: 20rem;
  background-size: cover;
}

article {
  width: 90%;
  margin: 0 auto;
  padding: 3%;
  background-color: rgb(246, 231, 205);
  border-radius: 40px;
}
article p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.8rem;
  line-height: 1rem;
  margin-bottom: 2rem;
  text-align: justify;
  padding: 0 1rem;
}
article h2 {
  padding-left: 1rem;
}
#center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
h1 {
  padding-left: 1rem;
}
@media screen and (min-width: 799px) {
  nav {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #logo {
    order: -2;
    margin-bottom: 2rem;
  }
  .menu {
    width: 8rem;
    height: 2rem;
    background-color: rgb(241, 202, 129);
    border-radius: 40px;
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
}
